@import url('vars.css');

.catalogStructure
{
    display: flex; 

}

.catalog
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: white;
    /* border: 1px solid black; */
}


.catalogContent
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-left: -20%;
    column-gap: 10%;
    row-gap: 2%;
    padding: 5% 0 30% 0;
}

@media (max-width: 1900px) {
    .catalogContent {
        grid-template-columns: repeat(3, 1fr);
        margin-left: -10%;
    }
}

@media (max-width: 1400px) {
    .catalogContent {
        grid-template-columns: repeat(2, 1fr);
        margin-left: -5%;
        padding: 10% 0 20% 0;
    }
}

@media (max-width: 700px) {
    .catalogContent {
        grid-template-columns: 1fr;
        margin-left: -5%;
        padding: 10% 0 100% 0;
    }
}



.catalogCard
{
    display: flex;
    flex-direction: column;
    border-radius: 10%;

}

.cardInfo
{
    display: flex;
    flex-direction: column;
}

.cardInfo h1
{
    max-width: 200px;
    word-break: break-word; 
}



.filters
{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    justify-content: flex-start;
    background-color: #D2D2D2;
    /* border: 1px solid black; */
    
}

.filterList
{
    max-height: 500px;
    overflow-y: auto;
    padding-left: 5%;
    margin-top: 20%;
}



.pagination 
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    padding-bottom: 0%;
}


.pagination nav div:nth-of-type(1)
{
    pointer-events: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.productPagination div:nth-of-type(2)
{
    pointer-events: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
}


.pagination svg 
{
    width: 40px;
    height: 40px;
    margin-bottom: -10%;
}


.pagination a
{
    text-decoration: none;
    font-size: var(--primary-text-size);
}

.pagination a:visited 
{
    color: inherit;
}

.pagination svg, 
.pagination a svg:visited 
{
    fill: currentColor;
}

.pagination a:hover {
    text-decoration: none;
    color: var(--green-style); /* Ensure it remains blue on hover */
}