
/* @import url('home.css');
@import url('head.css');
@import url('vars.css');
@import url('buttons.css');
@import url('profile.css');
@import url('catalog.css');
@import url('categories.css');
@import url('subcategories.css');
@import url('product.css');
@import url('subcatsPanel.css');
@import url('productManager.css');
@import url('designManager.css');
@import url('eventManager.css');
@import url('eventsPanel.css');
@import url('order.css');
@import url('event.css'); */

a 
{
    text-decoration: none; 
    color:inherit;
}


h4, h5
{
    margin:0;
}

h1
{
    font-family: var(--primary-text-style) !important;
    font-size: var(--primary-text-size);
    margin: 0;
}

h2
{
    font-family: var(--secondary-text-style);
    font-size: var(--secondary-text-size);
    margin: 0;
}


img:hover
{
    outline: 3px solid black;
}


body
{
    overflow-y: scroll;
    width: 70%;
    margin: 0 auto;
}


@media screen and (min-width : 320px) and (max-width : 1000px) 
{
    body
    {
        width: 100%;
        margin: 0 auto;
    }
}


.hiddenElement
{
    visibility: hidden;
}

.visibleElement
{
    visibility: visible;
}

.notExistingElement
{
    pointer-events: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
}