@import url('vars.css');



.navButton
{
    width: auto;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    font-family: var(--secondary-text-style);
    font-size: var(--secondary-text-size);
}


.defaultButton
{
    color: black;
    white-space: nowrap;
    width: auto;
    height: 30px;
    background-color: var(--yellow-style);;
    border-radius: 15px;
    border-color: var(--purple-style-1);
    border-style: solid;
    font-family: var(--secondary-text-style);
    font-size: var(--secondary-text-size);
}

.notChosenButton
{
    border-width: 0px;
} 


.chosenButton
{
    border-width: 2px;
    border-color: black;
} 

