@import url('buttons.css');
@import url('home.css');
@import url('head.css');
@import url('vars.css');


body
{
    width: 50%;
    margin: 0 auto;
}


@media screen and (min-width : 320px) and (max-width : 1000px) {
    body
    {
        width: 100%;
        margin: 0 auto;
    }
}
