@import url('buttons.css');
@import url('home.css');
@import url('head.css');
@import url('vars.css');


h1
{
    font-family: var(--primary-text-style) !important;
    font-size: var(--primary-text-size);
    margin: 0;
}

h2
{
    font-family: var(--secondary-text-style);
    font-size: var(--secondary-text-size);
    margin: 0;
}

body
{
    overflow: auto;
    width: 50%;
    margin: 0 auto;
}


@media screen and (min-width : 320px) and (max-width : 1000px) {
    body
    {
        width: 100%;
        margin: 0 auto;
    }
}


.hiddenElement
{
    visibility: hidden;
}

.visibleElement
{
    visibility: visible;
}
