@import url('vars.css');

.headerStyle
{
    background-color: var(--green-style);
    padding-top: 1%;
    padding-bottom: -1%;
    display: flex;
    align-items: left;
    justify-content: space-around;
    align-items: center;
    /* gap: 5%; */
    flex-wrap: wrap;
}

.headerStyle h1
{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    /* margin-left: -10%; */
    font-family: var(--primary-text-style);  
    color: var(--yellow-style);
    font-family: var(--primary-text-style);
    font-size: 45px;
}

.navButtons
{
    display: grid;
    grid-auto-flow: column;
    gap: 10%;
}

.regButtons
{
    display: grid;
    grid-auto-flow: column;
    margin-left: 20%;
    gap: 10%;
}

.postHeaderContent
{
    width: 100%;
    height: 500px;
    display: box;
    text-align: center;
    background-color: var(--background-style);
}

.profileButton
{
    border-radius: 25px; 
    border: 3px black solid; 
    display:flex;
}
.profileButton:hover
{
    border-color: white;
}