@import url('vars.css');

.homeContent
{
    display: flex; 
}

.catalogContent
{
    display: flex;
}

.homeCatalogCard
{
    width: auto;
    height: auto;
    background-color: aquamarine;
}


.catalog
{
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 80%;
    text-align: center;
    width: 80%;
    background-color: white;
    border: 1px solid black;
}


.catalog h1
{
    font-family: var(--primary-text-style);
    font-size: var(--primary-text-size);
}

.filters
{
    display: flex;
    width: 20%;
    justify-content: center;
    background-color: #D2D2D2;
    border: 1px solid black;
}

.filters h1
{
    font-family: var(--primary-text-style);
    font-size: var(--primary-text-size);
}

