.productBase
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5%;
    padding: 0 5% 0 5%;

}


.productErrMsg
{
    margin-top: 5%;
}


.productBaseLeft
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productImageContent
{
    display: flex;
    flex-direction:  column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 120%;
    z-index: 2;
}

.amountButtons
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}


.productStatus
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10%;
    align-items: center;
    text-align: center;
    gap: 5%;
    height: 110px;
    width: 200px;
    padding-top: 2%;
    margin-left: -50px;
    padding-left: 50px;
    z-index: 1;
    background-color: rgb(239, 239, 239);
}

.productBaseRight
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: 25%;
}


.productLabels
{
    margin-bottom: 25%;
}

.productRating
{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    gap: 2%;
}

.productRatingNums
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0 15% 0 0;
    margin-top: -5%;
}

.productEvents
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 15px;
    background-color: var(--background-style);
}

/* .productEvents
{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3% 0 3% 0;
} */


.prodEvCont
{
    width: 40%;
    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
    scrollbar-color: #999 var(--background-style);
}

.eventItem h1,h2
{
    word-break: break-word;
}


.eventItem
{
    display: flex;
    width: 100%;
    flex-direction: column;
    
    text-align: center;
    border-radius: 15px;
    margin-top: 5%;
    justify-content: space-around;
    background-color: white;
    border: white solid;
}


.eventItem:hover
{
    border: black solid;
}